@* @implements IDialogContentComponent<SimplePerson>
<FluentDesignTheme @bind-Mode="@Mode"
                   @bind-OfficeColor="@OfficeColor"
                   StorageName="theme" />
<FluentDialogBody>


    <h3>Quick Settings</h3>



    <FluentSelect Label="Theme"
                  Width="250px"
                  Items="@(Enum.GetValues<DesignThemeModes>())"
                  @bind-SelectedOption="@Mode" />


    <FluentSelect Label="Color"
                  Items="@(Enum.GetValues<OfficeColor>().Select(i => (OfficeColor?)i))"
                  Height="200px"
                  Width="250px"
                  @bind-SelectedOption="@OfficeColor"/>


    <FluentButton Appearance="Appearance.Accent" OnClick="PickRandomColor">Feeling lucky?</FluentButton>


</FluentDialogBody>

@code {
    [Parameter]
    public SimplePerson Content { get; set; } = default!;

    public DesignThemeModes Mode { get; set; }
    public OfficeColor? OfficeColor { get; set; }


    void PickRandomColor()
    {
        OfficeColor = OfficeColorUtilities.GetRandom();
    }
} *@